/* src/components/Contact.css */

/* Contact section styles */
#contact {
     /* Center the text */
    padding: 50px 20px; /* Add padding for space around the content */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background color */
    color: black; /* Text color */
    border-radius: 10px; /* Rounded corners */
    margin: 20px auto; /* Center the banner horizontally */
    max-width: 800px; /* Set a maximum width for the banner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    backdrop-filter: blur(5px);
}
/* ContactForm.css */
/* Form input styles */
input[type="text"], input[type="tel"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: cursive;
}

input[type="submit"]:hover {
    background-color: #ffff99;
}
