/* src/components/FullscreenModal.css */

/* Fullscreen modal styles */
.fullscreen-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevents scrollbars */
}

.fullscreen-content {
    max-width: 90%;
    max-height: 80%;
    margin: auto;
}

.fullscreen-modal .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
