/* src/components/Navbar.css */

/* Navbar styles */
.navbar {
    position: fixed; /* Fixes the navbar at the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width of the page */
    background-color: rgba(255, 255, 255, 0.5);
    color: black; /* Text color */
    padding: 15px 0; /* Padding for top and bottom */
    z-index: 1000; /* Ensures the navbar is above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for a little depth */
    font-size: larger;
}

.navbar ul {
    list-style-type: none; /* Removes bullet points from list */
    margin: 0;
    padding: 0;
    text-align: center; /* Centers the navbar items */
}

.navbar ul li {
    display: inline; /* Display the list items in a line */
    margin: 0 20px; /* Space between the navbar items */
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: cursive;
}

.navbar a:hover {
    text-decoration: underline; /* Underline on hover */
}
